*{
  margin: 0;
  padding: 0;
}
body{
  background: #D3D3D3;
  font-family: cursive;
}
.vez-jogo{
  margin: 0 auto 20px;
  text-align: center;
}
.jogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: auto;
  box-shadow: 5px 5px 10px black;
}

.quadrado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 32px;
  cursor: pointer;
  background: #ffffff;
  margin: 0;
}
.placar {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.jogador {
  flex: 1;
  text-align: center;
}
.titu-2{
  border: 3px double black;
  padding: 10px;
  width: 50%;
  text-align: center;
  background: #ffffff;
  margin: 25px 25% 40px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; 
  height: 100%; 
}
button{
  text-align: center;
  padding: 10px;
  width: 40%;
  border: none;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
button:hover{
  color: white;
  background: #A4A4A4;
  padding: 10px;
}
input[type = input]{
  padding: 0.375rem 0.75rem;
}
.borda{
  width: 300px;
  margin: auto;
  margin-top: 25vh;
  border-radius: 20px;
}
.meio{
  padding: 20px;
}
#name, #name2{
  width: 90%;
  display: block;
  border: none;
}
.radios{
  display: flex;
  justify-content: space-evenly;
}
.titu-1{
  font-size: 1.1em;
  border: 3px double black;
  text-align: center;
  background: #ffffff;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  padding: 8px;
}
.distancia-itens{
  margin-top: 10px;
}
#msgFinal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 50vw;
  font-size: xx-large;
  margin: auto;
  margin-top: 35vh;      
}
#jogarNovamente {
  font-size: large;
  font-weight: bold;
}
